.autopark {
  color: white;
  background: linear-gradient(270deg, #222f4e 58.52%, #174ac3 132.89%);

  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/img/autopark/main_bg.jpg");
    background-size: cover;
    background-position: center;
    padding: 50px 0;
  }

  h1 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: res(36, 96);
    color: #ffb404;
    text-shadow: 2px 2px 4px #000000;
  }
}

.service {
  margin: 0 auto;

  li {
    display: flex;
    align-items: center;
    gap: 40px;
    font-weight: 600;
    font-size: res(16, 22);

    &::before {
      content: "";
      display: block;
      width: res(10, 20);
      height: res(10, 20);
      border-radius: 40px;
      background-color: #ffb404;
    }
  }

  &__block {
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px res(15, 60);

    h3 {
      font-family: "Inter", sans-serif;
      font-weight: 400;
      color: white;
      font-size: res(24, 68);
      line-height: 1.4;
      text-transform: uppercase;
      margin-left: 30px;

      span {
        font-family: "Lalezar", sans-serif;
        font-weight: 500;
        color: #ffb404;
        text-shadow: 2px 2px 4px #000000;
        font-size: res(36, 96);
        line-height: 1.4;
      }
    }

    &_2 {
      img {
        margin-left: initial !important;
      }
      .service__list {
        max-width: 500px;
      }
    }

    &_3 {
      img {
        flex: 1;
      }

      .service__list {
        flex: 1;
      }
    }
  }

  img {
    height: auto;
  }

  h1 {
    font-family: "Inter", sans-serif;
    font-size: res(32, 64);
    line-height: 1;
    font-weight: 800;
    color: #ffb404;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    gap: 40px;

    img {
      margin-left: auto;
      max-width: 35%;
    }

    &_reverse {
      flex-direction: row-reverse;
      img {
        margin-right: auto;
      }
    }
  }

  @include mobile {
    &__wrapper {
      flex-direction: column;
      align-items: flex-start;

      img {
        margin: 0 auto;
        width: auto;
        height: auto;
      }
    }

    &__block {
      padding-top: 70px;
      padding-bottom: 0;
      h3 {
        text-align: center;
        margin-bottom: 20px;
      }
    }
  }
}

.transportation {
  margin-top: 100px;

  h3 {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: white;
    font-size: res(24, 68);
    line-height: 1.4;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
    padding: 0 res(15, 60);

    span {
      color: #ffb404;
    }
  }

  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 res(15, 60);

    li {
      display: flex;
      align-items: center;
      gap: 40px;
      font-weight: 600;
      font-size: res(16, 22);

      &::before {
        content: "";
        display: block;
        width: res(10, 20);
        height: res(10, 20);
        border-radius: 40px;
        background-color: #ffb404;
      }
    }

    ul {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 40px;
      max-width: 700px;
    }

    svg {
      max-width: 265px;
      max-height: 700px;
    }
  }

  &__routes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    margin-top: 100px;
    padding-right: res(15, 60);

    &_divider {
      flex: 1;
      display: flex;
      justify-content: center;

      div {
        width: 3px;
        height: 100%;
        background-color: #ffb404;
        background: linear-gradient(
          180deg,
          rgba(255, 180, 4, 0),
          rgb(255, 180, 4) 50%,
          rgba(255, 180, 4, 0) 100%
        );
      }
    }

    h4 {
      font-family: "Inter", sans-serif;
      font-weight: 700;
      color: white;
      font-size: res(24, 68);
      line-height: 1.4;
      margin-bottom: 40px;
      text-align: left;
    }

    img {
      width: auto;
      height: auto;
      max-width: 100%;
      overflow: hidden;
      max-height: 900px;
    }

    ul {
      display: flex;
      flex-direction: column;
      font-weight: 500;
      padding-left: 20px;

      li {
        display: flex;
        padding: 32px 52px;
        border-bottom: 1px solid #fff;
        min-height: 144px;

        &:last-child {
          border-bottom: none;
        }
      }

      h5 {
        font-size: res(16, 22);
        flex: 1.4;
        text-align: center;
        align-self: center;
        flex: 1 0 10%;
      }

      p {
        font-size: res(14, 20);
        line-height: 1.4;
      }

      .transportation__routes_text {
        flex: 1 0 60%;
        align-self: center;
      }
    }
  }

  @include mobile {
    margin-top: 50px;
    &__text {
      h4 {
        text-align: center;
      }
    }
    &__header {
      margin-top: 60px;
      flex-direction: column;
      gap: 30px;

      svg {
        width: 100%;
        max-width: 200px;
      }
    }

    &__routes {
      padding-left: res(15, 60);

      &_divider {
        width: 100%;
        height: 6px;
        margin: 20px 0;

        > div {
          width: 100%;
          height: 6px;
        }
      }

      ul {
        li {
          flex-direction: column;
        }
      }

      svg {
        display: none;
      }
    }
  }
}

.logos {
  display: flex;
  gap: res(50, 100);
  padding: 100px res(15, 60);
  background-color: #eaeaea;

  ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex: 1 0 50%;
  }

  li {
    display: flex;
    border: 1px solid #000;
    justify-content: center;
    align-items: center;
    padding: 30px;
    min-height: 150px;
  }

  img {
    width: 100%;
    height: auto;
    max-width: 100%;
  }

  &__block {
    padding: 40px 40px;
    text-align: center;
    background: linear-gradient(270deg, #222f4e 58.52%, #174ac3 132.89%);
    margin: auto 0;

    h4 {
      font-size: res(18, 32);
      font-weight: 600;
      line-height: 1.4;
      margin-bottom: 30px;
    }

    p {
      font-size: res(16, 22);
      font-weight: 600;
      line-height: 1.4;
    }
  }

  @include mobile {
    flex-direction: column-reverse;

    ul {
      grid-template-columns: repeat(2, 1fr);
      flex: 1;
    }
  }
}

.info {
  padding: 100px 0;
  background-image: url("/img/autopark/info_bg.jpg");
  background-size: cover;
  background-position: center;

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 100px res(15, 150) 100px;
    background-color: rgba(34, 47, 78, 0.5);
  }

  &__block {
    display: flex;
    align-items: center;
    gap: res(20, 100);

    &:first-child {
      .swiper {
        margin-left: auto;
      }
    }

    &:last-child {
      .info__text {
        margin-right: res(0, 100);
      }
      .swiper {
        margin-right: auto;
      }
    }
  }

  &__text {
    max-width: 400px;
  }

  h2 {
    font-family: "Lalezar", sans-serif;
    font-weight: 500;
    font-size: res(48, 70);
    line-height: 1;

    &:last-child {
      margin-top: -50px;
    }

    + span {
      font-family: "Lalezar", sans-serif;
      font-weight: 500;
      line-height: 77%;
      font-size: res(86, 400);
      color: #ffb404;
      text-shadow: 2px 2px 4px #000000;
    }
  }

  .swiper {
    position: relative;
    width: 600px;
    height: 400px;
    overflow: hidden;
    margin: 0;
    justify-self: center;
    align-self: center;

    h2 {
      font-family: "Inter", sans-serif;
      font-weight: 400;
      font-size: res(24, 48);
      text-align: center;
    }

    &__overlay {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      font-family: "Inter", sans-serif;
      font-weight: 400;
      font-size: 24px;
      line-height: 1;
      background-color: rgba(0, 0, 0, 0.5);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &-wrapper {
      width: initial;
      height: 400px;
    }

    .swiper-button-next,
    .swiper-button-prev {
      color: #ffb404;
    }

    .swiper-button-next::after,
    .swiper-button-prev::after {
      font-size: 16px;
    }

    .swiper-button-next {
      right: 10px;
    }

    .swiper-button-prev {
      left: 10px;
    }
  }

  @include mobile {
    padding-top: 60px;
    padding-bottom: 60px;

    &__wrapper {
      padding-top: 60px;
      padding-bottom: 60px;
    }

    &__block {
      flex-direction: column;
      align-items: initial;

      &:last-child {
        flex-direction: column-reverse;
      }
    }

    h2 {
      margin-top: initial !important;
    }

    .swiper {
      width: 100%;
      max-width: 500px;

      img {
        width: 100%;
        flex: 1;
      }
    }
  }
}

.agrotepClass {
  display: flex;
  align-items: center;
  padding: 100px res(15, 150) 200px;
  font-weight: 600;

  &__block {
    align-items: flex-end;

    &:first-child {
      max-width: 800px;
      min-width: 500px;
      flex: 1;
    }

    &:last-child {
      margin-left: auto;

      display: flex;
      flex-direction: column;
    }

    img {
      width: 70%;
      height: auto;
      flex: 1;
    }
  }

  h2 {
    font-size: res(18, 32);
    line-height: 1;
    margin-bottom: 60px;
  }

  p {
    font-size: res(12, 18);
    line-height: 2.4;

    span {
      color: #ffb404;
    }
  }

  @include mobile {
    padding-top: 50px;
    padding-bottom: 100px;
    flex-direction: column;

    img {
      width: 100%;
    }

    &__block {
      &:first-child {
        min-width: initial;
      }
      &:last-child {
        margin-right: auto;
      }
    }
  }
}
